<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhoneShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="bg-dark collapse" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Add some information about the phone.</p>
                <p class="text-muted"> Visits : {{visits}}</p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Follow on Twitter</a></li>
                  <li><a href="#" class="text-white">Like on Facebook</a></li>
                  <li><a href="#" class="text-white">Email me</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <strong>Phone Store</strong>
            </a>
            {% if user.is_authenticated %}
              <span class='text-light'> Welcome back, {{ user.get_username }}! </span> <a href="{% url 'logout' %}" >Logout</a>
            {% else %}
            {% comment %} <a href="{% url 'login' %}" role="button" class="btn btn-secondary">Sign in</a>
            <a href="{% url 'register' %}" role="button" class="btn btn-secondary">Sign up</a>  {% endcomment %}
            {% endif %}
            <div class="navbar-toggler">
            <a href="{% url 'login' %}" role="button" class="btn btn-secondary">Sign in</a>
            <a href="{% url 'register' %}" role="button" class="btn btn-secondary">Sign up</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            </div>
          </div>
        <div class="container d-flex justify-content-between">
          <span></span>
          <span>
          <span><a class = "text-white" href="{% url 'cartView' %}"> Cart<span class="badge badge-primary">{{ cart.get_total_quantity}} </span></a></span>
          </span>
        </div>
    </header>
    
      {% block content %} {% endblock %}
    
</body>
</html>